<div class="app">
  <md-toolbar class="main-header" color="secondary">
    <button md-raised-button color="primary" (click)="loadNewJobHandler()">Load new job</button>
    <div>&nbsp;{{ jobName }}</div>
    <div class="spacer"></div>
    <div *ngFor="let color of colors" class="hint-circle mat-{{ color }}"
         [ngClass]="{'active': colors[activeColor] === color}"></div>
    <button md-raised-button color="primary" (click)="nextHandler()" [disabled]="activeColor !== 5 || jobDone">Next pair&gt;</button>
  </md-toolbar>

  <div fxLayout="row" fxLayoutWrap="wrap" *ngIf="!jobDone">
    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
      <md-card>
        <md-card-header>
          <md-card-title>
            <button md-raised-button color="primary" (click)="undoSourceSelection()"
                    [disabled]="!sourceGuidStack.length">Undo
            </button>
          </md-card-title>
        </md-card-header>
        <md-card-content class="no-select page-wrapper" [innerHTML]="pair.source.text"
                         #source id="source" (scroll)="sourceScroll($event)" (mouseup)="sourceHighlight($event)">
        </md-card-content>
      </md-card>
    </div>

    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
      <md-card>
        <md-card-header>
          <md-card-title>
            <button md-raised-button color="primary" (click)="undoTranslationSelection()"
                    [disabled]="!translationGuidStack.length">Undo
            </button>
          </md-card-title>
        </md-card-header>
        <md-card-content class="no-select page-wrapper" [innerHTML]="pair.translation.text" #translation
                         id="translation" (scroll)="translationScroll($event)" (mouseup)="translationHighlight($event)">
        </md-card-content>
      </md-card>
    </div>
  </div>

  <div *ngIf="jobDone">
    <md-card style="width: 400px; margin: 20px auto 0">
      <md-card-header>
        <md-card-title>You are done!</md-card-title>
        <md-card-subtitle>Amazing job!</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        There is one tiny step left -- send us your results.
        <button md-raised-button color="primary" (click)="nextHandler()">Send</button>
      </md-card-content>
    </md-card>
  </div>

  <div class="footer" *ngIf="!jobDone">
    Copyright &copy; 2018 Datamundi -- Sentence Alignment Evaluation: URL Pair Qualification JobID: {{ meta.FileName }}
    -- DueDate: {{ meta.DueDate | date:'dd/MM/yyyy' }} -- Value: {{ meta.JobValue }} {{meta.Currency}} -- Support:
    gertva@datamundi.be
  </div>
</div>
