.selection-hint {
  height: 36px;
}

.hint-circle {
  width: 28px;
  height: 28px;
  display: inline-block;
  margin: 0px 4px;
  border-radius: 14px;
  border: 1px solid #000;
}

.hint-circle.active {
  width: 36px;
  height: 36px;
  border-radius: 18px;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: not-allowed;
}

.select {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: text;
}

.page-wrapper {
  height: calc(100vh - 194px);
  overflow-y: auto;
}
