// If not possible to inject icon name to the content with html
.material-icons {
    &.icon {
        position: relative;
        display: inline-block;

        &.face:after {
            content: "face";
        }

        &.arrow-collapse-right:after {
            content: "last_page";
        }

        &.arrow-collapse-left:after {
            content: "first_page";
        }

        &.arrow-right:after {
            content: "keyboard_arrow_right";
        }

        &.arrow-left:after {
            content: "keyboard_arrow_left";
        }

        &.arrow-up:after {
            content: "keyboard_arrow_up";
        }

        &.arrow-down:after {
            content: "keyboard_arrow_down";
        }
    }
}
