@import "../material.variables";
@import "../mixins/bi-app/bi-app-ltr";
@import "../app.variables";
@import "../mixins";

:host /deep/ {
    .product-image-header {
        position: relative;
        top: -5px;
        left: -5px;
        border-radius: $border-radius-base;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        height: 100%;
        @include media-breakpoint-down(sm) {
            top: 0;
            left: 0;
            border-radius: $border-radius-base $border-radius-base 0 0;
            box-shadow: none;
            height: 400px;
        }
    }
}
