<div class="session mat-toolbar low">
  <div class="session-content">
    <div class="session-wrapper">
      <md-card>
        <md-card-content>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div fxLayout="column" fxLayoutAlign="space-around">
              <div class="pb-1">
                <md-input-container style="width: 100%">
                  <input mdInput placeholder="Email" [formControl]="form.controls['email']">
                </md-input-container>
                <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched"
                       class="mat-text-warn">Email is required.
                </small>
              </div>
              <div class="pb-1">
                <md-input-container style="width: 100%">
                  <input mdInput placeholder="PIN" [formControl]="form.controls['pin']">
                </md-input-container>
                <small *ngIf="form.controls['pin'].hasError('required') && form.controls['pin'].touched"
                       class="mat-text-warn">PIN is required.
                </small>
              </div>
              <div class="pb-1">
                <md-input-container style="width: 100%">
                  <input mdInput placeholder="Job Reference" [formControl]="form.controls['job']">
                </md-input-container>
                <small *ngIf="form.controls['job'].hasError('required') && form.controls['job'].touched"
                       class="mat-text-warn">Job reference is required.
                </small>
              </div>
              <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">Login</button>
            </div>
          </form>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
